Llogin {
  position: relative;
  left: auto;
  width: 300px;
  height: 240px;
  border: 10px solid blue;
}
Bregister {

  position: relative;
  left: 75px;
  width: 212345px;
  height: 12456px;
  border: 16px solid green;
}
