<h3 class="bg-primary p-1 text-white">Lista de tarefas de {{ getName() }}</h3>
<div class="my-1">
  <input class="form-control" #todoText />
  <input name="prioridade" type="radio" #todoAlta>Alta
  <input name="prioridade" type="radio" CHECKED #todoMedia>Média
  <input name="prioridade" type="radio" #todoBaixa>Baixa<br>
  <input type="date" #data><br>
  <button class="btn btn-primary mt-1" (click)="addItem(todoText.value,todoAlta,todoMedia,todoBaixa,data)"> Add </button>
</div>
<!--não feita--> <!--alta-->
<br><h2>Para fazer</h2><h3>Prioridade alta</h3>
<table class="table table-striped table-bordered">
  <thead>
    <tr><th>Nº</th><th>Descrição</th><th>Data(YYYY-MM-DD)</th><th>Prioridade</th><th>Done?</th></tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of getTodoItemsFalse() ; let i = index">
      <ng-container *ngIf="item.prioridade == 'Alta'">
        <td>{{ i + 1 }}</td>
        <td>{{ item.action }}</td>
        <td>{{ item.data }}</td>
        <td>{{ item.prioridade }}</td>
        <td><input type="checkbox" [(ngModel)]="item.done" />
          <div [ngSwitch]="item.done">
            <span *ngSwitchCase="true">Yes</span>
            <span *ngSwitchDefault>No</span>
          </div>
        </td>
      </ng-container>
    </tr>
  </tbody>
</table>
<!--não feita--> <!--media-->
<h3>Prioridade média</h3>
<table class="table table-striped table-bordered" align="left">
  <thead>
    <tr><th>Nº</th><th>Descrição</th><th>Data(YYYY-MM-DD)</th><th>Prioridade</th><th>Done?</th></tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of getTodoItemsFalse(); let i = index">
      <ng-container *ngIf="item.prioridade == 'Média'">
        <td>{{ i + 1 }}</td>
        <td>{{ item.action }}</td>
        <td>{{ item.data }}</td>
        <td>{{ item.prioridade }}</td>
        <td><input type="checkbox" [(ngModel)]="item.done" />
          <div [ngSwitch]="item.done">
            <span *ngSwitchCase="true">Yes</span>
            <span *ngSwitchDefault>No</span>
          </div>
        </td>
      </ng-container>
    </tr>
  </tbody>
</table>
<!--não feita--> <!--baixa-->
<h3>Prioridade baixa</h3>
<table class="table table-striped table-bordered" align="left">
  <thead>
    <tr><th>Nº</th><th>Descrição</th><th>Data(YYYY-MM-DD)</th><th>Prioridade</th><th>Done?</th></tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of getTodoItemsFalse(); let i = index">
            <ng-container *ngIf="item.prioridade == 'Baixa'">
        <td>{{ i + 1 }}</td>
        <td>{{ item.action }}</td>
        <td>{{ item.data }}</td>
        <td>{{ item.prioridade }}</td>
        <td><input type="checkbox" [(ngModel)]="item.done" />
          <div [ngSwitch]="item.done">
            <span *ngSwitchCase="true">Yes</span>
            <span *ngSwitchDefault>No</span>
          </div>
        </td>
      </ng-container>
    </tr>
  </tbody>
</table>
<!--feita--> <!--alta-->
<br><h2>Terminadas</h2><h3>Prioridade alta</h3>
<table class="table table-striped table-bordered">
  <thead>
    <tr><th>Nº</th><th>Descrição</th><th>Data(YYYY-MM-DD)</th><th>Prioridade</th><th>Done?</th></tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of getTodoItemsTrue(); let i = index">
      <ng-container *ngIf="item.prioridade == 'Alta'">
        <td>{{ i + 1 }}</td>
        <td>{{ item.action }}</td>
        <td>{{ item.data }}</td>
        <td>{{ item.prioridade }}</td>
        <td><input type="checkbox" [(ngModel)]="item.done" />
          <div [ngSwitch]="item.done">
            <span *ngSwitchCase="true">Yes</span>
            <span *ngSwitchDefault>No</span>
          </div>
        </td>
      </ng-container>
   </tr>
 </tbody>
</table>
<!--feita--> <!--média-->
<br><h3>Prioridade média</h3>
<table class="table table-striped table-bordered">
  <thead>
    <tr><th>Nº</th><th>Descrição</th><th>Data(YYYY-MM-DD)</th><th>Prioridade</th><th>Done?</th></tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of getTodoItemsTrue(); let i = index">
      <ng-container *ngIf="item.prioridade == 'Média'">
        <td>{{ i + 1 }}</td>
        <td>{{ item.action }}</td>
        <td>{{ item.data }}</td>
        <td>{{ item.prioridade }}</td>
        <td><input type="checkbox" [(ngModel)]="item.done" />
          <div [ngSwitch]="item.done">
            <span *ngSwitchCase="true">Yes</span>
            <span *ngSwitchDefault>No</span>
          </div>
        </td>
      </ng-container>
   </tr>
 </tbody>
</table>
<!--feita--> <!--baixa-->
<br><h3>Prioridade baixa</h3>
<table class="table table-striped table-bordered">
  <thead>
    <tr><th>Nº</th><th>Descrição</th><th>Data(YYYY-MM-DD)</th><th>Prioridade</th><th>Done?</th></tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of getTodoItemsTrue(); let i = index">
      <ng-container *ngIf="item.prioridade == 'Baixa'">
        <td>{{ i + 1 }}</td>
        <td>{{ item.action }}</td>
        <td>{{ item.data }}</td>
        <td>{{ item.prioridade }}</td>
        <td><input type="checkbox" [(ngModel)]="item.done" />
          <div [ngSwitch]="item.done">
            <span *ngSwitchCase="true">Yes</span>
            <span *ngSwitchDefault>No</span>
          </div>
        </td>
      </ng-container>
   </tr>
 </tbody>
</table>