<table border="1" width="800" align="right">
  <tr>
    <th>
      <img src="assets/img/lobby.png" (click)="changeContent()">
      <img src="assets/img/rank.png" (click)="changeContent()">
      <img src="assets/img/guide.png" (click)="changeContent()">
      <img src="assets/img/forum.png" (click)="changeContent()">
      <img src="assets/img/blank.png" id="blankImage">
    </th>
  </tr>

  <tr>
    <th>
      <font>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce et sodales eros. Phasellus a interdum ipsum, vitae dictum dui. Nullam aliquam quis leo vel feugiat. Praesent eget tincidunt dolor. Fusce commodo metus nec tincidunt posuere. Nullam elementum egestas lacus, eget fringilla enim semper eget. Vestibulum placerat, dui non interdum laoreet, ex mi fringilla leo, ut semper ante mauris at dui. Suspendisse sit amet fringilla tellus. Etiam pellentesque, sapien at molestie tempus, metus tellus imperdiet ligula, sit amet volutpat eros ante sit amet tortor. Aliquam ut rutrum felis.

        Aenean accumsan venenatis turpis, volutpat efficitur quam volutpat nec. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam congue condimentum malesuada. Morbi in mattis tortor. Mauris varius, odio vitae auctor interdum, erat augue porttitor metus, fermentum tristique lorem justo non felis. Aenean rhoncus finibus metus, sed fringilla ex tristique sit amet. Nulla dignissim tincidunt ipsum, sed malesuada mi mattis sit amet. In arcu lorem, feugiat a sem quis, lobortis mattis eros. Praesent ac feugiat nunc, eget tincidunt sapien. Cras elit eros, rhoncus ut blandit eu, posuere rhoncus lectus. Sed quis commodo lorem. Fusce rutrum tellus augue, eu interdum tellus blandit ut. In pretium rutrum urna a ornare. Proin dictum lacinia diam vitae auctor.

        Proin quam augue, dignissim ac augue id, placerat lacinia turpis. In hac habitasse platea dictumst. Nam et lorem lectus. Curabitur pretium, risus nec semper hendrerit, ante quam commodo eros, nec congue urna lacus ut est. Sed pulvinar tortor efficitur blandit iaculis. Ut fringilla urna porttitor accumsan auctor. Nam lacinia interdum semper. Vivamus finibus elementum sem et ornare. Integer id lorem ut erat gravida maximus nec non sapien. Aliquam sit amet dapibus est, vestibulum semper est. Maecenas orci lorem, vestibulum vel tortor id, posuere aliquet turpis. Nullam lacinia aliquet lobortis. Morbi in elit sit amet tellus tincidunt suscipit. Quisque facilisis maximus porta.
      </font>
    </th>
  </tr>
</table>
