<table border="1" width="800" align="right">
  <tr>
    <th>
      <img src="assets/img/lobby.png" (click)="changeContent()" routerLink="/lobby">
      <img src="assets/img/rank.png" (click)="changeContent()" routerLink="/rank">
      <img src="assets/img/guide.png" (click)="changeContent()" routerLink="/guide">
      <img src="assets/img/forum.png" (click)="changeContent()" routerLink="/forum">
      <img src="assets/img/blank.png" id="blankImage">
    </th>
  </tr>

  <tr>
    <th>
      <font>
        <router-outlet></router-outlet>
      </font>
    </th>
  </tr>
</table>
